{% extends 'user/layouts/grid1_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}

{% block content %}
    <div class="grid grid-cols-3 gap-4 mb-4">
        {% for aircraft in aircrafts %}
        <div class="card">
            <a href="{% url 'aircraft' pk=aircraft.pk %}" class="block h-52 overflow-hidden">
                <img class="rounded-t-xl" src="{% if aircraft.image %}{{ aircraft.image.url }}{% else %}{% static 'images/placeholder_post.png' %}{% endif %}" />
            </a>
            <div class="p-5">
                <a href="{% url 'aircraft' pk=aircraft.pk %}">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ aircraft.name }}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ aircraft.description | truncatewords:20 }}</p>
                <div class="flex">
                    <a href="{% url 'aircraft' pk=aircraft.pk %}" class="btn btn-primary">
                        <i class="las la-file-alt"></i>
                        {% trans 'Read more' %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
