{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="card mb-4">
    <div class="p-4 pb-0">
        <div class="card-header">
            <div>
                <h2 class="card-title">{% trans 'Service list' %}</h2>
                <div class="card-subtitle">{% trans 'List of service in AirERP' %}</div>
            </div>
            <div>
                <a href="{% url 'manager-service-create' %}" class="btn btn-primary"><i class="las la-plus-circle"></i>{% trans 'Create new' %}</a>
            </div>
        </div>
    </div>
    <div class="relative overflow-x-auto rounded-b-xl">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 display" id="dataTable">
                <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="pl-4 pr-2 py-3">{% trans 'Name' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Icon' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Max quantity' %}</th>
                        <th scope="col" class="pl-2 pr-4 py-3"><span class="sr-only">View</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 last:border-none">
                        <th scope="row" class="pl-4 pr-2 py-4 font-medium text-gray-900 dark:text-white">
                            {{ service.name }}
                        </th>
                        <td class="px-2 py-4">{{ service.icon }}</td>
                        <td class="px-2 py-4">{{ service.max_quantity }}</td>
                        <td class="pl-2 pr-4 py-4 text-right">
                            <div class="flex space-x-3">
                                <a href="{% url 'manager-service' pk=service.pk %}" class="btn btn-light">
                                    <i class="las la-file-alt"></i>
                                    {% trans 'Show detail' %}
                                </a>
                                <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="btn btn-light" type="button" data-modal-attr-action="{% url 'manager-service-delete' pk=service.pk %}" data-modal-attr-title="{{ service.name }}">
                                    <i class="las la-trash-alt"></i>
                                    {% trans 'Remove' %}
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
    {% include 'manager/components/modal-delete.html' %}
{% endblock content %}