{% extends 'user/layouts/base.html' %}


{% block layout %}
    {% include "user/components/navbar.html" %}
    <header class="bg-white shadow">
        <div class="container mx-auto px-4">
            <h1 class="font-extrabold text-3xl mb-2 dark:text-white">{% block title %}{% endblock title %}</h1>
            <div class="text-lg text-gray-500 dark:text-gray-400">{% block subtitle %}{% endblock subtitle %}</div>
        </div>
    </header>
    <div class="container mx-auto px-4">
        {% if messages %}
            <div id="alert-success" class="flex items-center p-4 mb-4 rounded-xl shadow-md text-green-800 border-t-4 border-green-300 bg-white dark:text-green-400 dark:bg-gray-800 dark:border-green-800" role="alert">
                <div class="text-xl"><i class="las la-check-circle"></i></div>
                <div class="ml-2 text-sm font-medium">
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-success" aria-label="Close">
                  <span class="sr-only">Dismiss</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                  </svg>
                </button>
            </div>
        {% endif %}
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-full md:col-span-7 xl:col-span-8">
                {% block content %}{% endblock content %}
            </div>
            <div class="col-span-full md:col-span-5 xl:col-span-4">
                <div class="sticky top-4">
                    {% block sideright %}{% endblock sideright %}
                </div>
            </div>
        </div>
    </div>
    {% include "user/components/footer.html" %}
{% endblock layout %}