{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="grid grid-cols-8 gap-4">
    <div class="col-span-5">
        <div class="card mb-4">
            <div class="p-4">
                <div class="card-header">
                    <div>
                        <h2 class="card-title">{% trans 'View ticket service' %}</h2>
                        <div class="card-subtitle">{% trans 'Detail information about ticket service in AirERP' %}</div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.ticket.auto_id }}">{{ form.ticket.label_tag }}</label>
                        {{ form.ticket }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.service.auto_id }}">{{ form.service.label_tag }}</label>
                        {{ form.service }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.quantity.auto_id }}">{{ form.quantity.label_tag }}</label>
                        {{ form.quantity }}
                    </div>
                    {% if form.errors %}
                        <div class="text-red-500 text-sm mb-4">{{ form.errors }}</div>
                    {% endif %}
                    <div>
                        <button class="btn btn-primary" type="submit"><i class="las la-save"></i>{% trans 'Save object' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}