{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="grid grid-cols-8 gap-4">
    <div class="col-span-5">
        <div class="card mb-4">
            <div class="p-4">
                <div class="card-header">
                    <div>
                        <h2 class="card-title">{% trans 'View ticket' %}</h2>
                        <div class="card-subtitle">{% trans 'Detail information about ticket in AirERP' %}</div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.code.auto_id }}">{{ form.code.label_tag }}</label>
                        {{ form.code }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.flight.auto_id }}">{{ form.flight.label_tag }}</label>
                        {{ form.flight }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.user.auto_id }}">{{ form.user.label_tag }}</label>
                        {{ form.user }}
                    </div>
                    <div class="grid gap-4 grid-cols-4 mb-3">
                        <div>
                            <label class="form-label" for="{{ form.gender.auto_id }}">{{ form.gender.label_tag }}</label>
                            {{ form.gender }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.first_name.auto_id }}">{{ form.first_name.label_tag }}</label>
                            {{ form.first_name }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.last_name.auto_id }}">{{ form.last_name.label_tag }}</label>
                            {{ form.last_name }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.date_birth.auto_id }}">{{ form.date_birth.label_tag }}</label>
                            {{ form.date_birth }}
                        </div>
                    </div>
                    <div class="grid gap-4 grid-cols-4 mb-3">
                        <div>
                            <label class="form-label" for="{{ form.citizenship.auto_id }}">{{ form.citizenship.label_tag }}</label>
                            {{ form.citizenship }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.document_type.auto_id }}">{{ form.document_type.label_tag }}</label>
                            {{ form.document_type }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.document_serial.auto_id }}">{{ form.document_serial.label_tag }}</label>
                            {{ form.document_serial }}
                        </div>
                        <div>
                            <label class="form-label" for="{{ form.document_date_expiry.auto_id }}">{{ form.document_date_expiry.label_tag }}</label>
                            {{ form.document_date_expiry }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.baggage.auto_id }}">{{ form.baggage.label_tag }}</label>
                        {{ form.baggage }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.seat_type.auto_id }}">{{ form.seat_type.label_tag }}</label>
                        {{ form.seat_type }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.is_checkin.auto_id }}">{{ form.is_checkin.label_tag }}</label>
                        {{ form.is_checkin }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.is_onboarding.auto_id }}">{{ form.is_onboarding.label_tag }}</label>
                        {{ form.is_onboarding }}
                    </div>
                    {% if form.errors %}
                        <div class="text-red-500 text-sm mb-4">{{ form.errors }}</div>
                    {% endif %}
                    <div>
                        <button class="btn btn-primary" type="submit"><i class="las la-save"></i>{% trans 'Save object' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}