{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="card mb-4">
    <div class="p-4 pb-0">
        <div class="card-header">
            <h2 class="card-title">{% trans 'Ticket list' %}</h2>
            <div class="card-subtitle">{% trans 'List of ticket in AirERP' %}</div>
        </div>
    </div>
    <div class="relative overflow-x-auto rounded-b-xl">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 display" id="dataTable">
                <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="pl-4 pr-2 py-3">{% trans 'Departure time' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Arrival time' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'From' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'To' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Aircraft' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Code' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Date booked' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'On Boarding' %}</th>
                        <th scope="col" class="px-2 py-3">{% trans 'Is Checkin' %}</th>
                        <th scope="col" class="pl-2 pr-4 py-3"><span class="sr-only">View</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 last:border-none">
                        <th scope="row" class="pl-4 pr-2 py-4 font-medium text-gray-900 dark:text-white">
                            {{ ticket.flight.departure_time }}
                        </th>
                        <td class="px-2 py-4">{{ ticket.flight.arrival_time }}</td>
                        <td class="px-2 py-4">{{ ticket.flight.departure_from.city }}</td>
                        <td class="px-2 py-4">{{ ticket.flight.arrival_to }}</td>
                        <td class="px-2 py-4">{{ ticket.flight.aircraft }}</td>
                        <td class="px-2 py-4">{{ ticket.code }}</td>
                        <td class="px-2 py-4">{{ ticket.date_booked }}</td>
                        <td class="px-2 py-4">
                            {% if ticket.is_onboarding %}
                                <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400">{% trans 'On Boarding' %}</span>
                            {% else %}
                                <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400">{% trans 'Not on boarding' %}</span>
                            {% endif %}
                        </td>
                        <td class="px-2 py-4">
                            {% if ticket.is_checkin %}
                                <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400">{% trans 'Is checkin' %}</span>
                            {% else %}
                                <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400">{% trans 'Is not checkin' %}</span>
                            {% endif %}
                        </td>
                        <td class="pl-2 pr-4 py-4 text-right">
                            <div class="flex space-x-3">
                                <a href="{% url 'manager-ticket' pk=ticket.pk %}" class="btn btn-light">
                                    <i class="las la-file-alt"></i>
                                    {% trans 'Show info' %}
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
    new DataTable('#dataTable', {
        bLengthChange: false,
        bInfo: false,
        columnDefs: [
           {
               orderable: false,
               targets: -1
           }
        ],
        language: {
            paginate: {
                "first": "<<",
                "last": ">>",
                "next": ">",
                "previous": "<"
            },
            searchPlaceholder: "Search items..."
        },
    });
    </script>
{% endblock scripts %}