{% extends 'manager/layouts/base.html' %}


{% block layout %}
    {% include "manager/components/navbar.html" %}
    {% include 'manager/components/sidebar.html' %}
    <div class="pl-[280px] pt-16 w-full">
        <header class="bg-white shadow px-4 ">
            <h1 class="font-extrabold text-3xl mb-2 dark:text-white">{% block title %}{% endblock title %}</h1>
            <div class="text-lg text-gray-500 dark:text-gray-400">{% block subtitle %}{% endblock subtitle %}</div>
        </header>
        <div class="p-4">
            {% block content %}{% endblock content %}
        </div>

    </div>


{% endblock layout %}