{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="grid grid-cols-8 gap-4">
    <div class="col-span-5">
        <div class="card mb-4">
            <div class="p-4">
                <div class="card-header">
                    <div>
                        <h2 class="card-title">{% trans 'Create flight' %}</h2>
                        <div class="card-subtitle">{% trans 'Detail information about flight in AirERP' %}</div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.code.auto_id }}">{{ form.code.label_tag }}</label>
                        {{ form.code }}
                    </div>
                    <div class="grid grid-cols-6 gap-4 mb-3">
                        <div class="col-span-4">
                            <label class="form-label" for="{{ form.departure_from.auto_id }}">{{ form.departure_from.label_tag }}</label>
                            {{ form.departure_from }}
                        </div>
                        <div class="col-span-2">
                            <label class="form-label" for="{{ form.departure_time.auto_id }}">{{ form.departure_time.label_tag }}</label>
                            {{ form.departure_time }}
                        </div>
                    </div>
                    <div class="grid grid-cols-6 gap-4 mb-3">
                        <div class="col-span-4">
                            <label class="form-label" for="{{ form.arrival_to.auto_id }}">{{ form.arrival_to.label_tag }}</label>
                            {{ form.arrival_to }}
                        </div>
                        <div class="col-span-2">
                            <label class="form-label" for="{{ form.arrival_time.auto_id }}">{{ form.arrival_time.label_tag }}</label>
                            {{ form.arrival_time }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.aircraft.auto_id }}">{{ form.aircraft.label_tag }}</label>
                        {{ form.aircraft }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.base_price.auto_id }}">{{ form.base_price.label_tag }}</label>
                        {{ form.base_price }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.baggage.auto_id }}">{{ form.baggage.label_tag }}</label>
                        {{ form.baggage }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.baggage_price.auto_id }}">{{ form.baggage_price.label_tag }}</label>
                        {{ form.baggage_price }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.seat_class.auto_id }}">{{ form.seat_class.label_tag }}</label>
                        {{ form.seat_class }}
                    </div>
                    <div class="grid grid-cols-6 gap-4 mb-3">
                        <div class="col-span-2">
                            <label class="form-label" for="{{ form.window_seat_price.auto_id }}">{{ form.window_seat_price.label_tag }}</label>
                            {{ form.window_seat_price }}
                        </div>
                        <div class="col-span-2">
                            <label class="form-label" for="{{ form.extra_legroom_seat_price.auto_id }}">{{ form.extra_legroom_seat_price.label_tag }}</label>
                            {{ form.extra_legroom_seat_price }}
                        </div>
                        <div class="col-span-2">
                            <label class="form-label" for="{{ form.aisle_seat_price.auto_id }}">{{ form.aisle_seat_price.label_tag }}</label>
                            {{ form.aisle_seat_price }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.status.auto_id }}">{{ form.status.label_tag }}</label>
                        {{ form.status }}
                    </div>
                    {% if form.errors %}
                        <div class="text-red-500 text-sm mb-4">{{ form.errors }}</div>
                    {% endif %}
                    <div>
                        <button class="btn btn-primary" type="submit"><i class="las la-save"></i>{% trans 'Save object' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}