{% extends 'user/layouts/grid2_layout.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}

{% block content %}
    <div class="card mb-4">
        <div class="p-4">
            <div class="card-header">
                <h2 class="card-title">{% trans 'Change password form' %}</h2>
                <div class="card-subtitle">{% trans 'For change password please fill out the form' %}</div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="grid md:grid-cols-2 gap-4">
                    <div class="mb-4 col-span-1">
                        <label class="form-label" for="{{ form.old_password.auto_id }}">{{ form.old_password.label_tag }}</label>
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="grid md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label class="form-label" for="{{ form.new_password1.auto_id }}">{{ form.new_password1.label_tag }}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div>
                        <label class="form-label" for="{{ form.new_password2.auto_id }}">{{ form.new_password2.label_tag }}</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
                {% for error in form.old_password.errors %}
                    <div class="text-danger mb-2">{{ error }}</div>
                {% endfor %}
                {% for error in form.new_password2.errors %}
                    <div class="text-danger mb-2">{{ error }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary"><i class="las la-check-circle"></i>{% trans 'Change password' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block sideright %}
    {% include 'user/components/widget_menu.html' %}
{% endblock sideright %}