{% extends 'manager/layouts/main_layout.html' %}

{% load i18n %}
{% load static %}


{% block title %}{{ title }}{% endblock title %}
{% block subtitle %}{{ subtitle }}{% endblock subtitle %}


{% block content %}
<div class="grid grid-cols-8 gap-4">
    <div class="col-span-5">
        <div class="card mb-4">
            <div class="p-4">
                <div class="card-header">
                    <div>
                        <h2 class="card-title">{% trans 'Create aircraft' %}</h2>
                        <div class="card-subtitle">{% trans 'Detail information about aircraft in AirERP' %}</div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.title.auto_id }}">{{ form.title.label_tag }}</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.model.auto_id }}">{{ form.model.label_tag }}</label>
                        {{ form.model }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.current_airport.auto_id }}">{{ form.current_airport.label_tag }}</label>
                        {{ form.current_airport }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.total_seats.auto_id }}">{{ form.total_seats.label_tag }}</label>
                        {{ form.total_seats }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.window_seats.auto_id }}">{{ form.window_seats.label_tag }}</label>
                        {{ form.window_seats }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.extra_legroom_seats.auto_id }}">{{ form.extra_legroom_seats.label_tag }}</label>
                        {{ form.extra_legroom_seats }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="{{ form.aisle_seats.auto_id }}">{{ form.aisle_seats.label_tag }}</label>
                        {{ form.aisle_seats }}
                    </div>
                    {% if form.errors %}
                        <div class="text-red-500 text-sm mb-4">{{ form.errors }}</div>
                    {% endif %}
                    <div>
                        <button class="btn btn-primary" type="submit"><i class="las la-save"></i>{% trans 'Save object' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}